<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.aicoder.epi.devp.prddev.view.editors.sysdpy.SysDpyEditor"
            id="net.aicoder.epi.devp.prddev.view.editors.sysdpy.SysDpyEditor"
            name="产品-部署图">
      </editor>
   </extension>
 
   <extension
         point="org.eclipse.ui.views">
      <view
            name="产品构建导航"
            inject="true"
            icon="icons/product/product.png"
            class="net.aicoder.epi.devp.prddev.view.views.ProductDevExploer"
            id="net.aicoder.epi.devp.prddev.view.views.ProductDevExplorer">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="产品构建"
            icon="icons/product/product.png"
            class="net.aicoder.epi.base.view.EpiPerspective"
            id="net.aicoder.epi.devp.prddev.view.perspectives.PrddevPerspective">
      </perspective>
   </extension>
 
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension
		targetID="net.aicoder.epi.devp.prddev.view.perspectives.PrddevPerspective">
            
		<view
                  closeable="true"
                  standalone="false"
                  moveable="true"
                  visible="true"
                  showTitle="true"
                  ratio="0.25"
                  relationship="left"
                  relative="net.aicoder.epi.devp.prddev.view.editors.sysdpy.SysDpyEditor"
                  id="net.aicoder.epi.devp.prddev.view.views.ProductDevExplorer"/>
		<view
                  closeable="true"
                  standalone="false"
                  moveable="true"
                  visible="true"
                  showTitle="true"
                  ratio="0.15"
                  relationship="right"
                  relative="net.aicoder.epi.devp.prddev.view.editors.sysdpy.SysDpyEditor"
                  id="org.eclipse.ui.views.ContentOutline"/>
	</perspectiveExtension>
   </extension>

</plugin>
