<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="net.aicoder.epi.devp.prddev.view.editors.sysdpy.SysDpyEditor"
            id="net.aicoder.epi.devp.prddev.view.editors.sysdpy.SysDpyEditor"
            name="产品-部署图">
      </editor>
   </extension>
 
   <extension
         point="org.eclipse.ui.views">
      <view
            name="产品构建导航"
            inject="true"
            icon="icons/product/product.png"
            class="net.aicoder.epi.devp.prddev.view.devexploer.ProductDevExploer"
            id="net.aicoder.epi.devp.prddev.view.devexploer.ProductDevExplorer">
      </view>
      <view
            class="net.aicoder.epi.devp.prddev.view.opsexploer.ProductOpsExploer"
            icon="icons/product/product.png"
            id="net.aicoder.epi.devp.prddev.view.opsexploer.ProductOpsExploer"
            name="ProductOpsExploer"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="产品构建"
            icon="icons/product/product.png"
            class="net.aicoder.epi.base.view.EpiPerspective"
            id="net.aicoder.epi.devp.prddev.view.perspectives.PrddevPerspective">
      </perspective>
      <perspective
            class="net.aicoder.epi.base.view.EpiPerspective"
            icon="icons/product/product.png"
            id="net.aicoder.epi.devp.prddev.view.ProductOpsExploerPerspective"
            name="ProductOpsExploer">
      </perspective>
   </extension>
 
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
	<perspectiveExtension
		targetID="net.aicoder.epi.devp.prddev.view.perspectives.PrddevPerspective">
            
		<view
                  closeable="true"
                  standalone="false"
                  moveable="true"
                  visible="true"
                  showTitle="true"
                  ratio="0.2"
                  relationship="left"
                  relative="org.eclipse.ui.editorss"
                  id="net.aicoder.epi.devp.prddev.view.devexploer.ProductDevExplorer"/>
	</perspectiveExtension>
 <perspectiveExtension
       targetID="net.aicoder.epi.devp.prddev.view.ProductOpsExploerPerspective">
    <view
          closeable="false"
          id="net.aicoder.epi.devp.prddev.view.opsexploer.ProductOpsExploer"
          minimized="false"
          moveable="false"
          ratio="0.2"
          relationship="left"
          relative="org.eclipse.ui.editorss"
          showTitle="true"
          standalone="false"
          visible="true">
    </view>
 </perspectiveExtension>
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="net.aicoder.epi.devp.prddev.view.preferences.LoginPage"
             id="net.aicoder.epi.devp.prddev.view.preferences.LoginPage"
             name="登录">
       </page>
    </extension>

</plugin>
